<!-- Header -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1>Get Weather</h1>
            <h3>Enter your city and country</h3>
            <form id="weatherForm" onsubmit="return false;">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-info" onclick="return guessLocation();">Let Me Guess</button>
                </div>
                <h3>OR</h3>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="cityname" name="cityname" placeholder="City" required/>
                    <input type="text" class="form-control" id="countryname" name="countryname" placeholder="Country" required/>
                </div>
                <button type="submit" class="btn btn-default" onclick="return getWeather();">Get Weather</button>
            </form>

            <span id="loader" hidden>
                <h3>Please wait...</h3>
            </span>
            <div id="data-block" hidden>
                <h4>Location: <span id="location"></span></h4>
                <h4>Temperature: <span id="temperature"></span>&emsp;&emsp;&emsp;&emsp;Sky Conditions: <span id="sky"></span></h4>
                <h4>Wind: <span id="wind"></span></h4>
                <h4>Pressure: <span id="pressure"></span>&emsp;&emsp;&emsp;&emsp;Visibility: <span id="visibility"></span></h4>
                <br />
                <h3 id="resolution"></h3>
            </div>
            <div id="error-block" hidden>
                Oops.. Well that didn't work.
                <span onclick="return searchCities();">
                    <a href="javscript: void" style="text-decoration: underline;">
                        <em>Search cities maybe?</em>
                    </a>
                </span>
            </div>
            <div id="cities-block" hidden>
                <h3>Here is a list of what we have got:</h3><br />
                <div id="cities"></div>
            </div>

        </div>
    </div>

</div>
