/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #52ABFF;
    text-align: center;
    color: #f8f8f8;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

h3, h4, h5{
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#cities {
    max-width: 400px;
    margin: auto;
}

a{
    color: #FFF;
}
